  
/*----  Roots  -----------------------------------------------------------*/
:root {
    /*----  Colors  ----*/
      --main:#2b2d42; 
  }

/*----  General  -----------------------------------------------------------*/


html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main);
}

/*----  Header  -----------------------------------------------------------*/

header{
    width: 100%;
    height: 10%;
    padding: 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main);
}

.logo{
    height: 100%;
    width: 10%;
}

img{
    width: 100%;
    height: 100%;
}

nav{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.login{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

header a{
    color: white;
}


.container a{
    margin-bottom: 0%;
    margin-right: 10%;
}

.login a{
    margin-top: 0%;
    margin-left: 10%;
}

.login img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

header a:hover{
    color: #f26725;
}

header :active{
    color: #f26725;
}

/*----  Main  -----------------------------------------------------------*/

main{
    width: 100%;
    height: 100%;
    background-color: #f4f8fb;
    border-radius: 45px 45px 0px 0px;
    display: flex;
    flex-direction: column;
}

/*----  Tasks  -----------------------------------------------------------*/

.tasks{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: 5%;
}

/*---------  form  -------------*/

form{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin: 0%;
}

input{
    background-color: #f3f2f7;
    border: none;
    border-radius: 15px;
    width: 70%;
    padding: 2% 2% 2% 10%;
}

.uno input{
    background-image: url("../img/search-solid.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.containerr{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dos{
    justify-content: end;
}

.dos input{
    justify-content: center;
    width: 50%;
}

/*---------  Title  -------------*/

h1{
    width: 100%;
    justify-self: start;
    margin: 0%;
    color: #2c2f42;
}

/*---------  Percentage  -------------*/
.percentages{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.percentage{
    width: 100%;
    border-radius: 25px;
    background-color: white;
}

.percentNum{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin: auto;
}


.inf{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.card{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    box-sizing: border-box;
}

.metaG{
    flex-direction: column;
    border-radius: 25px;
    background-color: white;
    width: 250px;
    margin: 1%;
}

/*---------  Other  -------------*/
.other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.agend{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: white;
    padding: 1%;
    box-sizing: border-box;
}

.userCall{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: yellow;
    padding-left: 2%;
}

.userCall p, .userCall i{
    margin: 1% 0%;
}

.planToday{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.planToday h3{
    width: 100%;
}

.planToday h4{
    display: none;
}

.leads{
    width: 40%;
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leadO{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leadT{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.leadT i {
    margin-left: 0%;
    padding-left: 0%;
}

/*----  Messages  -----------------------------------------------------------*/

.message{
    background-color: var(--main);
    border-radius: 45px 45px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
