  
/*----  Roots  -----------------------------------------------------------*/
:root {
    /*----  Colors  ----*/
      --main:#2b2d42; 
      --hoverHeader: #f26725;
      --title:#2c2f42;
      --barra:#e2e2e2;
      --status:#fe9709;
      --tableBlue:#ecf3fd;
      --one:#b282f6;
      --two:#037a9c;
      --three:#b44393;
      --four:#b17ffc;
      --five:#b14497;
      --facebook:#3d6abb;
      --whatsapp:#71e26e;
      --e-mail:#08dbd2;
      --telegram:#28a7e8;
      --firstGradient: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(255,106,153,1) 100%);
      --leadOGradient:linear-gradient(0deg, rgba(176,128,253,1) 0%, rgba(133,183,255,1) 100%);;
      --firstlGradient:linear-gradient(0deg, rgba(0,125,146,1) 0%, rgba(118,253,212,1) 100%);;
      --secondlGradient:linear-gradient(0deg, rgba(180,70,146,1) 0%, rgba(241,95,118,1) 100%);;
  }

/*----  General  -----------------------------------------------------------*/


html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main);
}

/*----  Header  -----------------------------------------------------------*/

header, 
nav, 
.container, 
.login, 
header a{
    display: flex;
    align-items: center;
}

header{
    width: 100%;
    height: 10%;
    padding: 3%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main);
}

.logo{
    height: 100%;
    width: 10%;
}

img{
    width: 100%;
    height: 100%;
}

nav{
    height: 100%;
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
}

.container{
    height: 100%;
    width: 50%;
    flex-direction: row;
    justify-content: start;
}

.login{
    height: 100%;
    width: 50%;
    flex-direction: row;
    justify-content: end;
}

header a{
    color: white;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}


.container a{
    margin-bottom: 0%;
    margin-right: 10%;
}

.login a{
    margin-top: 0%;
    margin-left: 10%;
}

.login img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

header a:hover{
    color: var(--hoverHeader);
}

/*----  Main  -----------------------------------------------------------*/

main{
    width: 100%;
    background-color: #f4f8fb;
    border-radius: 45px 45px 0px 0px;
    display: flex;
    flex-direction: column;
}

/*----  Tasks  -----------------------------------------------------------*/

.tasks{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5%;
}

/*---------  form  -------------*/

form{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin: 5% 0%;
}

input{
    background-color: #f3f2f7;
    border: none;
    border-radius: 15px;
    width: 70%;
    padding: 2% 2% 2% 10%;
}

.uno input{
    background-image: url("../img/search-solid.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    padding-left: 20%;
}

.containerr{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dos{
    justify-content: end;
}

.dos input{
    justify-content: center;
    width: 115px;
}

/*---------  Title  -------------*/

h1{
    width: 100%;
    justify-self: start;
    margin: 0%;
    color: var(--title);
    margin-bottom: 5%;
}

/*---------  Percentage  -------------*/

.percentages, 
.percentNum, 
.medium, 
.medium h2, 
.inf, 
.card{
    display: flex;
    align-items: center;
}

.percentages{
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}

.percentage{
    width: 100%;
    height: 180px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 2%;
}

.percentNum{
    width: 70px;
    height: 70px;
    justify-content: end;
    background-color:var(--barra);
    margin-left: 2%;
    border-radius: 50%;
} 

.medium{
    width: 35px;
    height: 70px;
    justify-content: center;
    background: var(--firstGradient);
    border-radius: 0 100px 100px 0;
    margin-left: 35px;
}

h2{
    margin: auto;
}

.medium h2{
    width: 56px;
    height: 56px;
    margin-left: -28px;
    background-color: white;
    justify-content: center;
    border-radius: 50%;
}

.inf{
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.card{
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    box-sizing: border-box;
}

.card p {
    margin: 1% 0%;
}

.metaG{
    flex-direction: column;
    border-radius: 25px;
    background-color: white;
    width: 100%;
    height: 180px;
    margin: 1%;
}

.metaG h2{
    margin: 3% 0%;
    width: 90%;
}

.metaG p{
    width: 90%;
}

.leadObtenidos{
    width: 90%;
    height: 5px;
    background-color: var(--barra);
    border-radius: 25px;
}

.leadOb{
    width: 50%;
    height: 5px;
    background: var(--firstGradient);
    border-radius: 25px;
}

.leadT p{
    margin: 2% 0%;
    width: 101px;

}

.leadT i{
    width: 101px;
    margin: 2% 0%;
    color: #808185;
}

/*---------  Other  -------------*/

.other,
.userCall,
.planToday,
.leads,
.leadO,
.leadO p, 
.leadT{
    display: flex;
    align-items: center;
}

.other{
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.agend{
    width: 100%;
    height: 260px;
    border-radius: 25px;
    background-color: white;
    padding: 1% 0%;
    box-sizing: border-box;
    margin-bottom: 3%;
}

.agend h3{
    margin: 3% 3%;
}

.userCall{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: yellow;

}

.userCall p, .userCall i{
    margin: 1% 0%;
    font-size: smaller;
}

.status span{
    font-size: small;
    color: #c4c5c6;
    display: none;
}

.fa-circle{
    color: var(--status);
}

.one{
    border-left-color: var(--one);
    background-color: var(--tableBlue);  
}

.two{
    border-left-color: var(--two);
}
.three{
    border-left-color: var(--three);
    background-color: var(--tableBlue);
}
.four{
    border-left-color: var(--four);
}
.five{
    border-left-color: var(--five);
    background-color: var(--tableBlue);
}

.planToday{
    width: 100%;
    height: 50%;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.planToday h2{
    width: 100%;
}

.planToday h4{
    display: none;
}

.leads{
    width: 90%;
    height: 120px;
    border-radius: 25px;
    background-color: white;
    justify-content: space-around;
    margin-top: 3%;
}

.leadO{
    margin-left: 15px;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background: var(--leadOGradient);
    justify-content: space-around;
}

.firstl{
    background: var(--firstlGradient);
}
.secondl{
    background: var(--secondlGradient); 
}

.leadO p{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white; 
    justify-content: space-around;
}

.leadT{
    width: 70%;
    justify-content: start;
    flex-direction: column;
}

.leadT i {
    margin-left: 0%;
    padding-left: 0%;
}

/*----  Messages  -----------------------------------------------------------*/

.message{
    background-color: var(--main);
    border-radius: 45px 45px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    padding: 5%;
}


.notifications{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.notification{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100px;
    border-radius:15px;
    color:white;
    background-color: #464857;
    margin-bottom: 5%;
    margin-right: 5%;
}

.first{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #9596af;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    padding: 1px;
    font-size: small;
}

.second{
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-size: .8;
    padding: 1px;
}

.second span{
    color: #9a9a9a;
}

h5{
    margin: 8%;
}

.second p{
    margin: 3px;
}

.fa-facebook-f{
    color: var(--facebook);
}

.fa-whatsapp{
    color: var(--whatsapp);
}

.fa-envelope{
    color: var(--e-mail);
}

.fa-telegram{
    color: var(--telegram);
}




